body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#lobby {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../../../content/art/lobby_wallpaper.jpg") #030708;
	background-position: center;
	background-repeat: no-repeat;
}

.player-row {
	color: red;
	font-size: 20px;
}

#content {
	width: 100%;
	height: 100%;
}

#startButton {
	width: 100px;
	height: 50px;
	margin-left: 20%;
	margin-top: 20%;
	vertical-align: middle;
	text-align: center;
}

.active {
	background-color: red;
}

.disabled {
	background-color: gray;
}