#content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../../../content/art/home_wallpaper.jpg") #030708;
	background-position: center;
	background-repeat: no-repeat;	
}

#login-form {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	margin-top:30%;
}


.playButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #97b3d1;
	-webkit-box-shadow:inset 0px 1px 3px 0px #97b3d1;
	box-shadow:inset 0px 1px 3px 0px #97b3d1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1d249e), color-stop(1, #000042));
	background:-moz-linear-gradient(top, #1d249e 5%, #000042 100%);
	background:-webkit-linear-gradient(top, #1d249e 5%, #000042 100%);
	background:-o-linear-gradient(top, #1d249e 5%, #000042 100%);
	background:-ms-linear-gradient(top, #1d249e 5%, #000042 100%);
	background:linear-gradient(to bottom, #1d249e 5%, #000042 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d249e', endColorstr='#000042',GradientType=0);
	background-color:#1d249e;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #1a376b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Charming;
	font-size:35px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #596894;
	margin-top: 10px;

}
.playButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000042), color-stop(1, #1d249e));
	background:-moz-linear-gradient(top, #000042 5%, #1d249e 100%);
	background:-webkit-linear-gradient(top, #000042 5%, #1d249e 100%);
	background:-o-linear-gradient(top, #000042 5%, #1d249e 100%);
	background:-ms-linear-gradient(top, #000042 5%, #1d249e 100%);
	background:linear-gradient(to bottom, #000042 5%, #1d249e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000042', endColorstr='#1d249e',GradientType=0);
	background-color:#000042;
}
.playButton:active {
	position:relative;
	top:1px;
}

.microsoft-image {
	max-width: 100px;
}

@font-face {
    font-family:Charming;
	src: url(Achafsex.ttf);
}


#name {
    background-color: #FDFFFE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:6px;
    color: #677A75;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border:none;
}

/* #gift {
	text-align: center;
	vertical-align: middle;
	margin-top:10%;
	color: #fff;
	font-size: 300%;
} */