@canvas-size: 40%;
@offset: 5%;

html, body {
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
    font-size: 14px;
    overflow: hidden;
    height: 100%;
}


#control-panel  {
    float: right;
    overflow: auto;
    height: 97.5%;
    width: 100% - @canvas-size - @offset;
    margin: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}

pre {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

li {
    list-style-type: none;
}

p {
    max-width: 300px;
}

textarea {
    height: 64px;
    width: 300px;
}

input {
    width: 50px;
}

.section-header {
    font-size: 1.25em;
    font-weight: bold;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
}