@import "./common";
@import "./scoreboard";

@font-size: 20px;
@spell-info-size: 64px;

#loading-section {
    font-size: 50px;
    color: white;
    .centered-with-width(50%);
    
    .loading-character-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 155px;
        height: 255px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#status-panel {
    .centered-with-width(50%);
    background-color: @dark-color;
    position: absolute;
    bottom: 0%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    font: @medium-font;
    font-size: @font-size;

    ul.bound-spells-list {
        margin-left: 10%;
        margin-right: 10%;
    }

    li.bound-spell {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        vertical-align: middle;
        width: @spell-info-size;
        height: @spell-info-size;
        color: @ui-text-color;
        border: 1px solid darken(@dark-color, 25%);
        margin: 0;
        padding: 0;
        box-shadow: inset 0px 0px 5px attr(data-filled) rgba(20, 20, 20, 0.6);

        .spell-info {
        }

        .spell-info:before {
            content: attr(data-key);
            display: block;
            margin-bottom: 10px;
        }

        .tooltip {
            @multiplier: 4;
            width: @multiplier * @spell-info-size;
            left: -25% - 50% * (@multiplier - 1);
            word-wrap: break-word;
            text-align: left;
            .name {
                font-size: @font-size - 3px;
            }
            .spell-stats {
                float: right;
                font: @light-font;
                font-size: @font-size - 3px;;
            }
            .description {
                font: @light-font;
                font-size: @font-size - 3px;;
            }
        }
    }

    .latency {
        color: white;
        font-size: 20px;
    }

}

#mid-round-lobby {
    .maximized;
}

#next-round-button,
#game-over-button {
    .centered-with-width(25%);
    bottom: 2.5%;
}

/* Needed since the .floating-shadow class works bad with absolute positioning */
#next-round-button:active,
#game-over-button:active {
    top: initial;
}

.logger-messages-box {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 50%;
}

.logger-message {
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 3s ease-out;

    &.fade {
        opacity: 1;
    }

    &.log-message {
        color: green;
    }

    &.warn-message {
        color: orange;
    }

    &.error-message {
        color: red;
        background: black;
    }
}


@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

